node-red
[{"id":"1c68edff.9fa252","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"50764178.b2e6","type":"tab","label":"Home","disabled":false,"info":""},{"id":"117031d3.7a9b0e","type":"tab","label":"Constant temp","disabled":false,"info":""},{"id":"31e34d84.8d84f2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5678629a.6bee24","type":"mqtt-broker","z":"","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7e90e6.6c00a7","type":"mongodb","z":"","hostname":"mongo","port":"27017","db":"bread","name":""},{"id":"1527f6dc.fe3b11","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bread","name":"","usetls":false,"tls":""},{"id":"a91970c5.60705","type":"influxdb","z":"1c68edff.9fa252","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"217c4671.4486f2","type":"shared-state","z":"","name":"Chamber_state","lbl":"Chamber state","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"793af019.2b3b2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5692c6b2.326b68","type":"ui_group","z":"","name":"","tab":"793af019.2b3b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"37ac4eaa.847b62","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6346e621.5faf4","type":"ui_group","z":"","name":"Profile","tab":"9e87d665.be5878","order":1,"disp":true,"width":"10","collapse":false},{"id":"9e87d665.be5878","type":"ui_tab","z":"","name":"Constant temperature","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8a19a301.111248","type":"shared-state","z":"","name":"const_temp_target","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"5f96feb.776a58","type":"shared-state","z":"","name":"chamber_profile","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"92898ea7.7810c","type":"shared-state","z":"","name":"target_temp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"593b7a2d.0f4b3c","type":"ui_group","name":"Group 2","tab":"793af019.2b3b2","order":2,"disp":true,"width":6},{"id":"bdcc178f.6ec488","type":"shared-state","z":"","name":"const_temp_timer","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"d9108a45.3b83b8","type":"shared-state","z":"","name":"start_button","lbl":"","tags":"","historyCount":"2","dataType":"obj","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"35a448b9.7a8878","type":"ui_group","name":"Group 1","tab":"c1421a06.4dd1","order":1,"disp":true,"width":6},{"id":"c1421a06.4dd1","type":"ui_tab","z":"","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a56d4f2c.a81fb","type":"ui_group","z":"31e34d84.8d84f2","name":"Default","tab":"60dcd887.52f37","order":1,"disp":false,"width":"6"},{"id":"60dcd887.52f37","type":"ui_tab","z":"31e34d84.8d84f2","name":"Test","icon":"dashboard","order":8},{"id":"84c2680e.c1d45","type":"shared-state","z":"","name":"loop_step","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"507e6290.775c74","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"tinkerforge/callback/humidity_v2_bricklet/DeD/temperature/room","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":230,"y":220,"wires":[["69b6febb.5930a8"]]},{"id":"1cb3e7bc.c9042","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"#","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":250,"y":540,"wires":[[]]},{"id":"73b0204d.1a3e3","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"tinkerforge/callback/humidity_v2_bricklet/DeD/humidity/room","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":280,"y":280,"wires":[["7aaeca3b.521d14"]]},{"id":"efc7ce0f.892c9","type":"influxdb batch","z":"1c68edff.9fa252","influxdb":"1527f6dc.fe3b11","precision":"","retentionPolicy":"","name":"","x":1060,"y":240,"wires":[]},{"id":"c1571d8d.c0f8b","type":"function","z":"1c68edff.9fa252","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            temperature: (msg.payload.temperature/100),\n        },\n        tags:{\n            sensor:\"tinkerforge\",\n            location:\"room\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":220,"wires":[["efc7ce0f.892c9"]]},{"id":"69b6febb.5930a8","type":"json","z":"1c68edff.9fa252","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":220,"wires":[["c1571d8d.c0f8b","c2dc01e1.818f8"]]},{"id":"7aaeca3b.521d14","type":"json","z":"1c68edff.9fa252","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":280,"wires":[["3ad0c985.c14c16"]]},{"id":"3ad0c985.c14c16","type":"function","z":"1c68edff.9fa252","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            humidty: (msg.payload.humidity/100),\n        },\n        tags:{\n            sensor:\"tinkerforge\",\n            location:\"room\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["efc7ce0f.892c9"]]},{"id":"6fecde5e.65c26","type":"get-shared-state","z":"117031d3.7a9b0e","state":"217c4671.4486f2","name":"Chamber state","triggerOnInit":true,"x":100,"y":280,"wires":[[]]},{"id":"56225741.1a74d","type":"get-shared-state","z":"50764178.b2e6","state":"217c4671.4486f2","name":"Chamber state","triggerOnInit":true,"x":180,"y":520,"wires":[["23a028fd.04a3d8"]]},{"id":"26ba8636.c4de7a","type":"ui_gauge","z":"50764178.b2e6","name":"","group":"5692c6b2.326b68","order":3,"width":0,"height":0,"gtype":"gage","title":"Room temperature","label":"°C","format":"{{value}}","min":"17","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":420,"wires":[]},{"id":"8e9aeaf1.b515","type":"ui_gauge","z":"50764178.b2e6","name":"","group":"5692c6b2.326b68","order":2,"width":0,"height":0,"gtype":"gage","title":"Chamber temperature","label":"°C","format":"{{value}}","min":"5","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":360,"wires":[]},{"id":"a606a87a.c3244","type":"ui_button","z":"117031d3.7a9b0e","name":"","group":"6346e621.5faf4","order":4,"width":0,"height":0,"passthru":false,"label":"Load profile","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Constant temperature","payloadType":"str","topic":"Start","x":690,"y":220,"wires":[["9bb5f060.e68e5","e2feca8a.c2c148","569a9317.b8bcfc","c1f38286.e2d138"]]},{"id":"a1dc28b9.274d28","type":"ui_button","z":"50764178.b2e6","name":"","group":"593b7a2d.0f4b3c","order":2,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":310,"y":580,"wires":[["be8a33b.31751d"]]},{"id":"d2787527.05f1c8","type":"ui_text","z":"50764178.b2e6","group":"5692c6b2.326b68","order":1,"width":0,"height":0,"name":"","label":"Target temperature :","format":"{{msg.payload}}","layout":"col-center","x":660,"y":160,"wires":[]},{"id":"b8c44345.3932e8","type":"ui_button","z":"50764178.b2e6","name":"","group":"593b7a2d.0f4b3c","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":450,"y":580,"wires":[["5f3cfe68.4a1fc","275ccb93.67b7f4","7607c5c0.62db1c","96e5a50a.5a60c","8d14fc53.6a8918"]]},{"id":"4ec13411.d4c93c","type":"ui_numeric","z":"117031d3.7a9b0e","name":"","label":"Target temperature","tooltip":"","group":"6346e621.5faf4","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"35","step":1,"x":710,"y":100,"wires":[["3d2402cf.b7b946"]]},{"id":"ab7e1fda.d77e1","type":"ui_text_input","z":"117031d3.7a9b0e","name":"","label":"Timer","tooltip":"","group":"6346e621.5faf4","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":670,"y":160,"wires":[["13fe6e4a.859dba"]]},{"id":"3d2402cf.b7b946","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"const_temp_target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["a050c5dd.177898"]]},{"id":"a050c5dd.177898","type":"set-shared-state","z":"117031d3.7a9b0e","state":"8a19a301.111248","name":"const_temp_target","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1270,"y":100,"wires":[]},{"id":"4fb8ec72.240d24","type":"get-shared-state","z":"117031d3.7a9b0e","state":"8a19a301.111248","name":"const_temp_target","triggerOnInit":true,"x":110,"y":100,"wires":[["e69b20a1.047bc"]]},{"id":"e69b20a1.047bc","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"const_temp_target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":100,"wires":[["4ec13411.d4c93c"]]},{"id":"9bb5f060.e68e5","type":"set-shared-state","z":"117031d3.7a9b0e","state":"5f96feb.776a58","name":"chamber_profile","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1060,"y":280,"wires":[]},{"id":"e2feca8a.c2c148","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"const_temp_target","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[[]]},{"id":"d16d496b.839478","type":"set-shared-state","z":"117031d3.7a9b0e","state":"92898ea7.7810c","name":"target_temp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1310,"y":460,"wires":[]},{"id":"bc313a9b.c0efd8","type":"get-shared-state","z":"50764178.b2e6","state":"92898ea7.7810c","name":"target_temp","triggerOnInit":true,"x":330,"y":160,"wires":[["d2787527.05f1c8","a813d538.d84978"]]},{"id":"5f3cfe68.4a1fc","type":"change","z":"50764178.b2e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["b6b03b14.60d9a"]]},{"id":"b6b03b14.60d9a","type":"set-shared-state","z":"50764178.b2e6","state":"92898ea7.7810c","name":"target_temp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":970,"y":580,"wires":[]},{"id":"d3cb776f.f252f8","type":"get-shared-state","z":"50764178.b2e6","state":"5f96feb.776a58","name":"chamber_profile","triggerOnInit":true,"x":180,"y":460,"wires":[["348fd3cc.aea3d4"]]},{"id":"348fd3cc.aea3d4","type":"ui_text","z":"50764178.b2e6","group":"593b7a2d.0f4b3c","order":1,"width":0,"height":0,"name":"","label":"Profile loaded","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":460,"wires":[]},{"id":"275ccb93.67b7f4","type":"change","z":"50764178.b2e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Standby","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":640,"wires":[["1444aaf.05e0955"]]},{"id":"23a028fd.04a3d8","type":"ui_text","z":"50764178.b2e6","group":"593b7a2d.0f4b3c","order":1,"width":0,"height":0,"name":"","label":"Chamber state","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":500,"wires":[]},{"id":"13fe6e4a.859dba","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"const_temp_timer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":160,"wires":[["e45c8169.84123"]]},{"id":"e45c8169.84123","type":"set-shared-state","z":"117031d3.7a9b0e","state":"bdcc178f.6ec488","name":"const_temp_timer","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1250,"y":160,"wires":[]},{"id":"28fc07c2.423b7","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"const_temp_timer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":160,"wires":[[]]},{"id":"bc65d629.ca8c1","type":"get-shared-state","z":"117031d3.7a9b0e","state":"bdcc178f.6ec488","name":"const_temp_timer","triggerOnInit":true,"x":110,"y":160,"wires":[["28fc07c2.423b7"]]},{"id":"8758c009.626ca","type":"link out","z":"1c68edff.9fa252","name":"room_temperature","links":["6c6eb75a.0b84d8"],"x":905,"y":160,"wires":[]},{"id":"6c6eb75a.0b84d8","type":"link in","z":"50764178.b2e6","name":"","links":["8758c009.626ca"],"x":345,"y":420,"wires":[["26ba8636.c4de7a"]]},{"id":"c2dc01e1.818f8","type":"function","z":"1c68edff.9fa252","name":"","func":"msg.payload= (msg.payload.temperature/100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["8758c009.626ca"]]},{"id":"a813d538.d84978","type":"function","z":"50764178.b2e6","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            target_temperature: (msg.payload),\n        },\n        tags:{\n            sensor:\"node-red\",\n            type:\"target\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["76954e70.fe3778"]]},{"id":"76954e70.fe3778","type":"influxdb batch","z":"50764178.b2e6","influxdb":"1527f6dc.fe3b11","precision":"","retentionPolicy":"","name":"","x":760,"y":220,"wires":[]},{"id":"3ca43d50.97e832","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"tinkerforge/callback/air_quality_bricklet/GN6/humidity/chamber","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":290,"y":360,"wires":[["86228f1e.792b9"]]},{"id":"b83d539b.075878","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"tinkerforge/callback/air_quality_bricklet/GN6/temperature/chamber","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":300,"y":420,"wires":[["607e98a4.e5023"]]},{"id":"607e98a4.e5023","type":"json","z":"1c68edff.9fa252","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":420,"wires":[["77870a8b.fdf464","e33ef2a0.7f969"]]},{"id":"86228f1e.792b9","type":"json","z":"1c68edff.9fa252","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":360,"wires":[["cf242f1f.447dd8"]]},{"id":"cf242f1f.447dd8","type":"function","z":"1c68edff.9fa252","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            humidty: (msg.payload.humidity/100),\n        },\n        tags:{\n            sensor:\"tinkerforge\",\n            location:\"chamber\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":360,"wires":[["efc7ce0f.892c9"]]},{"id":"77870a8b.fdf464","type":"function","z":"1c68edff.9fa252","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            temperature: (msg.payload.temperature/100),\n        },\n        tags:{\n            sensor:\"tinkerforge\",\n            location:\"chamber\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":420,"wires":[["efc7ce0f.892c9"]]},{"id":"102e17aa.399258","type":"link out","z":"1c68edff.9fa252","name":"chamber_temperature","links":["bd92a3cf.bfdad8"],"x":875,"y":520,"wires":[]},{"id":"e33ef2a0.7f969","type":"function","z":"1c68edff.9fa252","name":"","func":"msg.payload= (msg.payload.temperature/100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":520,"wires":[["102e17aa.399258"]]},{"id":"bd92a3cf.bfdad8","type":"link in","z":"50764178.b2e6","name":"","links":["102e17aa.399258"],"x":345,"y":360,"wires":[["8e9aeaf1.b515"]]},{"id":"461c8e69.5de148","type":"ui_ui_control","z":"50764178.b2e6","name":"","events":"all","x":1130,"y":400,"wires":[[]]},{"id":"5101847c.50a64c","type":"get-shared-state","z":"50764178.b2e6","state":"d9108a45.3b83b8","name":"start_button","triggerOnInit":true,"x":70,"y":580,"wires":[["24e44a48.e03f6e"]]},{"id":"5ca40c9a.0aca54","type":"set-shared-state","z":"117031d3.7a9b0e","state":"d9108a45.3b83b8","name":"start_button","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1170,"y":360,"wires":[]},{"id":"569a9317.b8bcfc","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":360,"wires":[["5ca40c9a.0aca54"]]},{"id":"24e44a48.e03f6e","type":"change","z":"50764178.b2e6","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":640,"wires":[["a1dc28b9.274d28"]]},{"id":"b0a02fb8.102c","type":"switch","z":"117031d3.7a9b0e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":500,"wires":[["ca34e5b3.e73da8"],["a3dd61ff.ee49b"],[]]},{"id":"be8a33b.31751d","type":"mqtt out","z":"50764178.b2e6","name":"","topic":"action/next","qos":"","retain":"","broker":"5678629a.6bee24","x":410,"y":780,"wires":[]},{"id":"69e5d57d.96fa04","type":"mqtt in","z":"117031d3.7a9b0e","name":"","topic":"action/next","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":120,"y":500,"wires":[["6019b5f.9c28ccc"]]},{"id":"6019b5f.9c28ccc","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"loop_step","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":500,"wires":[["b0a02fb8.102c","1573fd65.b7b23b"]]},{"id":"e22232d1.0019e8","type":"get-shared-state","z":"117031d3.7a9b0e","state":"84c2680e.c1d45","name":"loop_step","triggerOnInit":true,"x":160,"y":360,"wires":[["4f69c865.f8ef"]]},{"id":"4f69c865.f8ef","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"loop_step","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[[]]},{"id":"1573fd65.b7b23b","type":"debug","z":"117031d3.7a9b0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":800,"wires":[]},{"id":"ca34e5b3.e73da8","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"loop_step","pt":"global","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":500,"wires":[["c75785a9.3e88c","7c0ac7ad.71c3c","91b9fac1.fd1cb8"]]},{"id":"a3dd61ff.ee49b","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"loop_step","pt":"global","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":700,"wires":[[]]},{"id":"6bd8b24c.b1decc","type":"set-shared-state","z":"117031d3.7a9b0e","state":"84c2680e.c1d45","name":"loop_step","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1160,"y":420,"wires":[]},{"id":"c1f38286.e2d138","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":420,"wires":[["6bd8b24c.b1decc"]]},{"id":"c75785a9.3e88c","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"const_temp_target","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":500,"wires":[["d16d496b.839478"]]},{"id":"7ee5b0db.b958b8","type":"set-shared-state","z":"117031d3.7a9b0e","state":"217c4671.4486f2","name":"Chamber state","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1320,"y":560,"wires":[]},{"id":"7c0ac7ad.71c3c","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"In preparation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":540,"wires":[["7ee5b0db.b958b8"]]},{"id":"1444aaf.05e0955","type":"set-shared-state","z":"50764178.b2e6","state":"217c4671.4486f2","name":"Chamber state","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":980,"y":640,"wires":[]},{"id":"a33d8a81.a9def8","type":"delay","z":"117031d3.7a9b0e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":700,"wires":[[]]},{"id":"7607c5c0.62db1c","type":"change","z":"50764178.b2e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":700,"wires":[["cb82dbfd.d5d46"]]},{"id":"cb82dbfd.d5d46","type":"set-shared-state","z":"50764178.b2e6","state":"84c2680e.c1d45","name":"loop_step","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":960,"y":700,"wires":[]},{"id":"e99bc481.9c04e8","type":"set-shared-state","z":"117031d3.7a9b0e","state":"d9108a45.3b83b8","name":"start_button","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1310,"y":620,"wires":[]},{"id":"91b9fac1.fd1cb8","type":"change","z":"117031d3.7a9b0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Continue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":600,"wires":[["e99bc481.9c04e8"]]},{"id":"56e51738.313b4","type":"set-shared-state","z":"50764178.b2e6","state":"5f96feb.776a58","name":"chamber_profile","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":980,"y":760,"wires":[]},{"id":"96e5a50a.5a60c","type":"change","z":"50764178.b2e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No profile loaded","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[["56e51738.313b4"]]},{"id":"db43bd6.a2b38c","type":"set-shared-state","z":"50764178.b2e6","state":"d9108a45.3b83b8","name":"start_button","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":980,"y":840,"wires":[]},{"id":"8d14fc53.6a8918","type":"change","z":"50764178.b2e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":820,"wires":[["db43bd6.a2b38c"]]}]