node-red
[{"id":"1c68edff.9fa252","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"117031d3.7a9b0e","type":"tab","label":"Constant temp","disabled":false,"info":""},{"id":"5678629a.6bee24","type":"mqtt-broker","z":"","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7e90e6.6c00a7","type":"mongodb","z":"","hostname":"mongo","port":"27017","db":"bread","name":""},{"id":"1527f6dc.fe3b11","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bread","name":"","usetls":false,"tls":""},{"id":"a91970c5.60705","type":"influxdb","z":"1c68edff.9fa252","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"217c4671.4486f2","type":"shared-state","z":"","name":"Const-temp","lbl":"Constant temp","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"f53d512.59ca7b","type":"trigger","z":"1c68edff.9fa252","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":720,"y":80,"wires":[[]]},{"id":"507e6290.775c74","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"tinkerforge/callback/humidity_v2_bricklet/DeD/temperature","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":270,"y":220,"wires":[["69b6febb.5930a8"]]},{"id":"59ffb6c2.7d64b8","type":"debug","z":"1c68edff.9fa252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":660,"wires":[]},{"id":"1cb3e7bc.c9042","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"#","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":530,"y":580,"wires":[[]]},{"id":"73b0204d.1a3e3","type":"mqtt in","z":"1c68edff.9fa252","name":"","topic":"tinkerforge/callback/humidity_v2_bricklet/DeD/humidity","qos":"2","datatype":"auto","broker":"5678629a.6bee24","x":260,"y":280,"wires":[["7aaeca3b.521d14"]]},{"id":"3f824b93.10533c","type":"inject","z":"1c68edff.9fa252","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":640,"wires":[[]]},{"id":"efc7ce0f.892c9","type":"influxdb batch","z":"1c68edff.9fa252","influxdb":"1527f6dc.fe3b11","precision":"","retentionPolicy":"","name":"","x":1060,"y":240,"wires":[]},{"id":"c1571d8d.c0f8b","type":"function","z":"1c68edff.9fa252","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            temperature: (msg.payload.temperature/100),\n        },\n        tags:{\n            sensor:\"tinkerforge\",\n            location:\"room\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":220,"wires":[["efc7ce0f.892c9"]]},{"id":"55389e77.aae768","type":"influxdb in","z":"1c68edff.9fa252","influxdb":"1527f6dc.fe3b11","name":"","query":"select * where time>now()","rawOutput":false,"precision":"","retentionPolicy":"","x":1000,"y":400,"wires":[[]]},{"id":"69b6febb.5930a8","type":"json","z":"1c68edff.9fa252","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":220,"wires":[["c1571d8d.c0f8b"]]},{"id":"7aaeca3b.521d14","type":"json","z":"1c68edff.9fa252","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":280,"wires":[["3ad0c985.c14c16"]]},{"id":"3ad0c985.c14c16","type":"function","z":"1c68edff.9fa252","name":"Fields and Tags","func":"msg.payload = [{\n        measurement: \"chamber\",\n        fields: {\n            humidty: (msg.payload.humidity/100),\n        },\n        tags:{\n            sensor:\"tinkerforge\",\n            location:\"room\"\n        },\n    }];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["efc7ce0f.892c9"]]},{"id":"7b25a2f0.fb8d34","type":"set-shared-state","z":"117031d3.7a9b0e","state":"217c4671.4486f2","name":"Constant temp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":670,"y":340,"wires":[]},{"id":"827b3000.12fbd","type":"complete","z":"117031d3.7a9b0e","name":"","scope":[],"uncaught":false,"x":460,"y":140,"wires":[[]]},{"id":"6fecde5e.65c26","type":"get-shared-state","z":"117031d3.7a9b0e","state":"217c4671.4486f2","name":"Constant temp","triggerOnInit":true,"x":590,"y":240,"wires":[[]]}]